body{
    font-size: 12px;
}
header{
    background-color: rgb(67, 163, 201);
    color: white;
    font-size: 40px;
    padding: 20px 20px 20px 10px;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.logo{
    margin-top: 6px;
    margin-right: 20px;
    float: right;
}
ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
}
.news{
    border: black;
    border-width: 1px;
    border-style: solid;
    width: fit-content;
    height: auto;
    margin:20px 20px 20px 20px;
    padding: 20px;
}
.description{
    margin: 20px;
}