*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-image: url("Data/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
.navbar-nav{
    margin-right: 0 !important;
    padding-right: 100px;
}
  
.navbar {
    color: white !important;
    background-color: rgba(11, 14, 22, 0.767);
}
.nav-item a{
    color: white !important;
    height: fit-content;
    width: fit-content;
    border-radius: 5px !important;
    text-align: center;
    text-transform: uppercase;
}
.nav-item{
    padding-left: 10px;
}
.nav-item a:hover{
    color: rgba(11, 14, 22, 0.767) !important;
    background-color: white !important;
} 
.navbar-brand{
    color: white !important;
    padding-left: 100px;
    width: 20% !important;
    height: 20% !important;
}
  
#navbar button{
    color: white !important;
}


#service{
    margin-top: 10px;
    padding:20px 20px 50px 20px;
    background-color: rgba(11, 14, 22, 0.767);
    color: white;
}
#service a{
    float: left;
}

@media only screen and (max-width: 987px){
    .navbar-brand{
        padding-left: 0px;
    }
}

.contact {
    text-align: left;
    padding-left: 20px;
    background-color: rgba(11, 14, 22, 0.555);
}
.submit{
    background-color: rgba(26, 51, 114, 0.609);
    color: white;
    padding: 5px;
    border-radius: 8px;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}
.submit:hover{
    color: black;
    background-color: gray;
}
.footer{
    background-color: rgba(11, 14, 22, 0.767);
    border-color: black;
    border-width: 2px;
    border-style: double;
    text-align: center;
    color: white;
    width: fit-content;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
}
.footer a{
    color: white;
    font-weight: bold;
}
.footer a:hover{
    color: rgb(130, 211, 243);
}